[data-theme="light"] {
    --primary: #000;
    --background: #fff;
    --text: #2c2c2c;
}

[data-theme="dark"] {
    --primary: #000;
    --background: #2c2c2c;
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: "Outfit";font-size: 22px;

}

h1 {
    color: #fff;
}

h2 {
    margin-left: 2em;
}

header {
    background-image: url(/img/Fondo\ cuadrados\ raros.png);
    background-size: 1400px 185px;
    position: static;
    left: 0;
    top: 0;
    right: 0;
}


button {
    background-color: var(--primary);
    padding: 10px;
    border: none;
    font-family: 'Roboto Serif', serif;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
}

main {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 1em
}

article {
    display: flex;
}


#Caja-borrosa {
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

#Logo {
    width: 5em;
    border: 0;
    height: 4em;
    margin-left: 1em;
    margin-top: 3px;
    margin-bottom: 3px;
}

#Logo :hover {
    -webkit-box-shadow: inset 0px 0px 20px 24px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 20px 24px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 20px 24px rgba(255,255,255,1);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.deslizador {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .9s;
    transition: 1s;
    border-radius: 46px;
    border: 3px solid white;
}
  
.deslizador:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 1px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .9s;
    border-radius: 56px;
}

#QuienesSomos {
    display: table;
    align-items: flex-start;
    width: 70%;
}

#Numero {
    display: flex;
    align-items: flex-start;
    background-color: gray;
    margin: 0;
    height: 250px;
}

.Contactos {
    width: 50px;

}

#Contactanos {
    display: block;
    background-color: gray;
}
hr {
    transform: rotate(90deg);
    width: 13em;
    position: relative;
    border: 5px solid white;
    top: -5.98em;
    left: 6.49em;
}

input:checked + .deslizador {
    background-color: var(--background);
}
  
input:checked + .deslizador:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
